@import "tailwindcss";

@theme {
	--font-sans: Verdana, Tahoma, sans-serif;
	--font-mono: "Courier New", Courier, monospace;

	/* alloy-calculator */
	--color-vsbg: #FDE0C0;
	--color-vsborder: #29221C;

	/* fish */
	--color-svtan: #F9BA66;
	--color-svdarktan: #965C3A;
	--color-svverydarktan: #5B2B2A;
	--color-svrain: #8388FD;
	--color-svsky: #80EAFF;
	--color-svsun: #FEFF00;
	--color-svwind: #FF9200;

	/* ip-calculator */
	--color-terminalred: #FF0000;
	--color-terminalgreen: #00FF00;

	/* leitmotifs */
	/* from Dark World menu */
	--color-utdrborder: #332033;
	--color-utdractive: #FFC90E;
	--color-utdrinactive: #614E6B;
	--color-utdrlink: white;
	/* from dark fountain, when you're near one */
	--color-utdrbg: #27293F;
	--color-utdrut: red;
	/* from Recruits menu */
	--color-utdrch1: purple;
	--color-utdrch2: aqua;
	--color-utdrch3: green;
	--color-utdrch4: blue;
	--color-utdrch5: yellow;
	--color-utdrch6: white;
	--color-utdrch7: white;
	--animate-highlightnode: highlightnode 900ms linear infinite;
	--animate-highlightlink: highlightlink 900ms linear infinite;

	@keyframes highlightnode {
		50% {
			fill: white;
			filter: drop-shadow(0 0 8px white);
		}
	}

	@keyframes highlightlink {
		50% {
			stroke: yellow;
		}
	}

	/* villager-quiz */
	--color-mclightgray: #C6C6C6;
	--color-mcdarkgray: #4C4C4C;
	--color-mcgreen: #218306;
}
