:root {
	--bg: black;
	--ch1: #851053;
	--ch2: #31D989;
	--ch3: #FEF960;
	--ch4: #526AF3;
	--highlight: white;
	--border: 2px solid #5F4F6C;
	--link: white;
	--sprite_bg: #111111;
	--text: white;
	--undertale: #A349A4;
}
a {
	text-align: center;
	text-decoration: none;
}
body {
	background-color: var(--sprite_bg);
	color: var(--text);
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0px;
}
h1 {
	font-size: 150%;
	margin-left: auto;
	margin-right: auto;
}
h2 {
	margin: 20px;
	margin-bottom: 5px;
}
image, img {
	image-rendering: pixelated;
}
option {
	font-family: Verdana, Tahoma, sans-serif;
}
p {
	margin: 0;
}
select {
	font-family: Verdana, Tahoma, sans-serif;
	width: 100%;
}
span {
	align-items: center;
	display: inline-flex;
	font-size: 70%;
	margin: 10px;
}
.g0 {
	fill: var(--undertale);
}
.g1 {
	fill: var(--ch1);
}
.g2 {
	fill: var(--ch2);
}
.g3 {
	fill: var(--ch3);
}
.g4 {
	fill: var(--ch4);
}
@keyframes leitmotif-highlight {
	50% { filter: drop-shadow(0 0 10px var(--highlight)); }
}
.highlighted.leitmotif {
	animation: leitmotif-highlight 1s linear infinite;
}
@keyframes song-highlight {
	50% {
		fill: var(--highlight);
		filter: drop-shadow(0 0 10px var(--highlight));
	}
}
.highlighted.song {
	animation: song-highlight 1s linear infinite;
}
.hyperlink {
	cursor: pointer;
	margin: 7px 0;
}
.hyperlink:first-child {
	margin: 0;
}
.hyperlink:hover {
	text-decoration: underline;
}
.icon {
	image-rendering: auto;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
	width: 40px;
}
.legend {
	height: 10px;
	margin-right: 5px;
	width: 20px;
}
.link {
	stroke: var(--link);
	stroke-width: 1.2px;
}
#canvas {
	height: 100%;
	margin: 0px;
	width: 100%;
	flex: 1 1 auto;
}
#container {
	display: flex;
	flex-flow: column;
	height: 100vh;
}
#footer {
	background-color: black;
	border-top: var(--border);
	text-align: right;
}
#header {
	border-bottom: var(--border);
	background-color: black;
	display: flex;
}
#container_bottom_left {
	border-right: var(--border);
	width: 20vw;
	min-height: 0;
	display: flex;
	flex-flow: column;
	background-color: var(--bg);
}
#container_bottom {
	display: flex;
	flex: 1 1 auto;
	min-height: 0;
}
#selected_list {
	padding-left: 30px;
	overflow-y: scroll;
	flex: 1 1 auto;
	padding-right: 10px;
}
#container_bottom_right {
	display: flex;
	flex-flow: column;
	flex: 1 1 auto;
}
audio {
	width: 100%;
}
table, td:last-child {
	width: 100%;
}
#selects {
	padding: 10px;
}
#selected_media {
	background-color: var(--sprite_bg);
	padding: 10px;
	text-align: center;
}
#selected_caption {
	margin: 10px 20px 20px;
}
#selected_sprite {
	margin: 10px;
}
#selected_list_name {
	margin: 20px 20px 10px;
}
#selected_audios {
	padding: 0px 10px;
}
.audio_name {
	padding-right: 10px;
}
