:root {
	--bg: #111111;
	--ch1: #851053;
	--ch2: #31D989;
	--ch3: #FEF960;
	--ch4: #526AF3;
	--highlight: white;
	--info_bg: #222222;
	--info_border: #00C000;
	--link: white;
	--text: white;
	--undertale: #A349A4;
}
a {
	text-align: center;
	text-decoration: none;
}
body {
	background-color: var(--bg);
	color: var(--text);
	font-family: Verdana, Tahoma, sans-serif;
	margin: 0px;
}
footer {
	background-color: var(--bg);
	bottom: 1vh;
	left: 1vw;
	position: absolute;
}
h1 {
	margin-left: auto;
	margin-right: auto;
}
h2 {
	margin: 0px;
}
header {
	display: flex;
}
image, img {
	image-rendering: pixelated;
}
option {
	font-family: Verdana, Tahoma, sans-serif;
}
p {
	margin-bottom: 7px;
	margin-top: 7px;
}
select {
	font-family: Verdana, Tahoma, sans-serif;
	width: 100px;
}
span {
	align-items: center;
	display: inline-flex;
	font-size: 70%;
	margin: 10px;
}
.big_margin {
	margin-bottom: 12px;
	margin-top: 12px;
}
.g0 {
	fill: var(--undertale);
}
.g1 {
	fill: var(--ch1);
}
.g2 {
	fill: var(--ch2);
}
.g3 {
	fill: var(--ch3);
}
.g4 {
	fill: var(--ch4);
}
@keyframes leitmotif-highlight {
	50% { filter: drop-shadow(0 0 10px var(--highlight)); }
}
.highlighted.leitmotif {
	animation: leitmotif-highlight 1s linear infinite;
}
@keyframes song-highlight {
	50% {
		fill: var(--highlight);
		filter: drop-shadow(0 0 10px var(--highlight));
	}
}
.highlighted.song {
	animation: song-highlight 1s linear infinite;
}
.hyperlink {
	cursor: pointer;
}
.hyperlink:hover {
	text-decoration: underline;
}
.icon {
	image-rendering: auto;
	margin-left: 5px;
	margin-top: 5px;
	padding: 0px;
	width: 40px;
}
.legend {
	height: 10px;
	margin-right: 5px;
	width: 20px;
}
.link {
	stroke: var(--link);
	stroke-width: 1.2px;
}
#canvas {
	height: 93vh;
	margin: 0px;
	position: absolute;
	top: 7vh;
	width: 100vw;
}
#info_panel {
	background-color: var(--info_bg);
	border: 3px solid var(--info_border);
	left: 2vw;
	max-width: 400px;
	padding: 20px;
	position: absolute;
	top: 12vh;
}
#selected_list {
	margin-left: 10px;
}
#selected_sprite {
	margin-left: 30px;
}
